<h1>Latest photos</h1>
<%
  if ENV.has_key? "NASA"
    nasa_api_key = ENV.fetch("NASA")

    url_rover = "https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/latest_photos?api_key=#{nasa_api_key}"
  
    require "http"
    raw_response = HTTP.get(url_rover)

    require "json"
    parsed_response = JSON.parse(raw_response)

    latest_photos = parsed_response["latest_photos"]
%>
    <div class="card-group">
<%
      latest_photos.each { |p|
%>
      <div class="container card-group mt-3 bg-light" style="width:30%">
        <div class="rover-image">
        <a href="<%= p["img_src"] %>" target="_blank" alt="Mars rocky and dry land" >
          <img class="card-img-top" src="<%= p["img_src"] %>" alt="Card image">
        </a>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= p["rover"]["name"] %></h4>
          <p class="card-text">
            <%= p["earth_date"] %>
            <br>
            <%= p["camera"]["full_name"] %>
          </p>
        </div>
      </div>
  <%
      } # end of latest_photos.each
  %>
    </div> <!-- end of card-group -->

 <% else %>
  no key
<% end %>
